body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
}


#loading {
	z-index: 100;
	background-color: #3892E3; color: white;
	font-size: 20px;
	
	width: 100px; height: 100px; border-radius: 50px;

	text-align: center; 
	line-height: 100px;
	font-family: 'Helvetica', sans-serif;
	position: absolute;
	left: 45%; top: 45%;
}

.inscription {
	font-size: 16px;
	font-family: 'Helvetica', Arial, sans-serif;
	line-height: 24px;
	margin-bottom: 16px;
}

.info {
	font-size: 12px;
	font-family: 'Helvetica', Arial, sans-serif;
	color: #B8B8B8;
}

.link {
	color: #3892E3;
}

a.site {
	font-style: italic;
	color: #888888;
}

.plaque-marker {
	background-color: rgba(56, 146, 227, 0.9);
	border-radius: 8px; height: 16px;
	font-size: 1px;
}

.plaque-cluster-marker {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: black;
}

.small {
	border-radius: 10px; height: 20px;
	line-height: 20px;
	background-color: rgba(57, 204, 2,0.8);
	
}

.medium {
	border-radius: 15px; height: 30px;
	line-height: 30px;
	background-color: rgba(255, 173,36,0.8);

}

.large {
	border-radius: 20px; 
	height: 40px; line-height: 40px;
	background-color: rgba(215,0,20,0.8);
}