body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
}

.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	color: black;
	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	}
.marker-cluster span {
	line-height: 30px;
	}


#loading {
	z-index: 100;
	background-color: blue; color: white;
	font-size: 20px;
	
	width: 100px; height: 100px; border-radius: 50px;

	text-align: center; 
	line-height: 100px;
	font-family: 'Helvetica', sans-serif;
	position: absolute;
	left: 45%; top: 45%;
}